{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid d-flex flex-column justify-content-center align-items-center">
    <h1 class="main-heading">Contributors</h1>
    {% for contributor in contributors %}
    <div class="contributor text-dark">
        <div class="card mb-2" style="max-width: 800px;">
            <div class="row g-0">
                <div class="col-md-3 d-flex justify-content-center align-items-center">
                    <img src="{{ contributor.profile_picture.url }}" class="profile-img img-fluid rounded-circle"
                        alt="{{ contributor.name }}">
                </div>
                <div class="col-md-8 d-flex flex-column justify-content-center">
                    <div class="card-body text-center">
                        <h4 class="card-title">{{ contributor.name }}</h4>
                        <h5>{{ contributor.title }}</h5>
                        <p class="card-text">{{ contributor.description }}</p>
                    </div>
                    <div class="card-footer d-flex justify-content-center">
                        <div class="col-md-6">
                            <a href="{{ contributor.link_github }}" class="text-body-secondary" target="_blank">Github</a> | 
                            <a href="{{ contributor.link_linked_in }}" class="text-body-secondary" target="_blank">LinkedIn</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}