{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="hero-container">
    <img src="{% static 'images/hero.jpeg' %}" alt="Guitar Man" class="hero-image">
    <div class="hero-text">
        <p class="main-text">Welcome to our website, where you can play a virtual piano and
            explore music theory through interactive lessons. Whether you're here to play or learn, we offer a
            fun and engaging way to dive into the world of classical music.</p>
        <a href="/about.html">
            <button class="action-button">How to?</button>
        </a>
    </div>
</div>
<div class="container">
    <h2 class="main-heading">Choose Your Path</h2>
    <div class="card-container row">
        <div class="card play-card col-sm-12 col-md-6">
            <p>Play</p>
        </div>
        <div class="card learn-card col-sm-12 col-md-6">
            <p>Learn</p>
        </div>
    </div>
</div>
{% endblock %}
