{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <h1 class="text-center">Welcome to SonataCraft</h1>
    <p class="text-center">The best place to learn music theory and practice your instrument</p>
</div>
<div class="container">
    <h2 class="main-heading">Choose Your Path</h2>
    <div class="card-container row">
        <div class="card play-card col-sm-12 col-md-6">
            <p>Play</p>
        </div>
        <div class="card learn-card col-sm-12 col-md-6">
            <p>Learn</p>
        </div>
    </div>
</div>
{% endblock %}