{% extends 'base.html' %}
{% load static %}

{% block content %}

   <div class="container">
    <div id="piano">
      <div class="keys">
        <div class="key white">
          <div class="key black">
          </div>
        </div>
        <div class="key white">
          <div class="key black">
          </div>
        </div>
        <div class="key white">
        </div>
        <div class="key white">
          <div class="key black">
          </div>
        </div>
        <div class="key white">
          <div class="key black">
          </div>
        </div>
        <div class="key white">
          <div class="key black">
          </div>
        </div>
        <div class="key white">
        </div>
      </div>
    </div>
  </div>  
{% endblock %}
