{% extends 'base.html' %}
{% load static %}

{% block extra_js %}
	<script src="{% static 'js/piano.js' %}" type="text/javascript" defer></script>
{% endblock extra_js %}

{% block content %}
	<div class="container">
		<div id="piano">
			<div id="keyboard" class="keys">
				{% for note, key in keys.items %}
					{% if "#" in note %}
						<div class="key white" id="{{ note }}" data-note="{{ note }}" data-key="{{ key }}">
							<div class="black">
							</div>
						</div>
					{% else %}
						<div class="key white" id="{{ note }}" data-note="{{ note }}" data-key="{{ key }}">
						</div>
					{% endif %}
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}